torneos_pruebas1.dtd

<!ELEMENT torneoATP (torneo+)>
<!ELEMENT torneo (nombre, fechaIni, fechaFin, puntosATP, cuadro, partidos)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT fechaIni (#PCDATA)>
<!ELEMENT fechaFin (#PCDATA)>
<!ELEMENT puntosATP (ronda, ronda, ronda | ronda? | ronda? | ronda?)>
<!ATTLIST ronda 
	puntos CDATA #REQUIRED>
<!ELEMENT ronda puntos(#PCDATA)>
<!ELEMENT cuadro (cruce+)>
<!ELEMENT cruce (jugador+)>
<!ATTLIST cruce? 
	numero CDATA #REQUIRED>
<!ATTLIST jugador 
	nombre CDATA #REQUIRED
	rankingTorneo CDATA #REQUIRED>
<!ELEMENT partidos (partido)>
<!ELEMENT partido (tipo, jugadores, resultado)>
<!ATTLIST partido
	estado (en juego | finalizado)>
<!ELEMENT tipo (individual | individual femenino | dobles masculino | dobles femenino | dobles mixtos)>
<!ELEMENT jugadores (lado1, lado2)>
<!ELEMENT lado1 (jugador)>
<!ELEMENT lado2 (jugador)>
<!ELEMENT resultado (set+)>
<!ELEMENT set (juegos)>
<!ATTLIST set 
	numero CDATA #REQUIRED>
<!ELEMENT juegos (puntosJuego?)>
<!ATTLIST juegos
	lado1 CDATA #REQUIRED
	lado2 CDATA #REQUIRED>
<!ELEMENT puntosJuego EMPTY>
<!ATTLIST puntosJuego
	lado1 (0 | 15 | 30 | 40 | AD)
	lado2 (0 | 15 | 30 | 40 | AD)>